<p>
	<strong>Faculty name</strong>
	<%= @batch.faculty.faculty_name %>
</p> 


<p>
	<strong>Batch name</strong>
	<%= @batch.batch_name %>
</p> 

<p>
	<strong>batch end timing</strong>
	<%= @batch.start_at.strftime("%H:%M") %>
</p>

<p>
	<strong>batch start timing</strong>
	<%= @batch.end_at.strftime("%H:%M") %>
</p>



<%= link_to 'Edit', edit_batch_path(@batch) %> |

<%= link_to 'Back', batches_path %>