<!DOCTYPE html>
<html>



  <head>
    <title>Institute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

         <style>
           
           header
        {background-color: powderblue;
        padding: 02px;
        text-align: right;
        font-size: 18px;
        }


        body{color: black;
          background-color: #b2cecf}

    

         </style>
        
   
  <body>

           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


      
   <%= render 'layouts/header' %>

    <%= yield %>


  </body>
</html>
