<!DOCTYPE html>
<html>
  <head>
    <title>Institute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


      
    <p class="navbar-text float-right">

    <%= link_to "Home",homes_home_path, :class => 'navbar-link' %>  &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Contact Us",contacts_contact_path, :class => 'navbar-link' %>  &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "About US",about_us_path, :class => 'navbar-link'%> &nbsp;&nbsp;&nbsp;&nbsp;



    <% if admin_signed_in? %>
     
      <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>



    <% else %>
      <%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
    <% end %>

    <%= yield %>
  </body>
</html>
